.col4-1, .col4-2, .col4-3, .col3-1, .col3-2, .col2-1 {
	float: right;
	margin-left: 0;
	margin-right: 3.2%;
}
.col.first, .col4-1.first, .col4-2.first, .col4-3.first, .col3-1.first, .col3-2.first, .col2-1.first {
	margin-right: 0;
}

.main-nav ul {
	left: auto;
	right: -4px;
}
.main-nav ul a, .main-nav .current_page_item ul a, .main-nav ul .current_page_item a, .main-nav .current-menu-item ul a, .main-nav ul .current-menu-item a, .main-nav li:hover > ul a {
	text-align: right;
	padding: 6px 15px 6px 0;
}
.carousel-nav-wrap,
.post-nav .next .arrow,
.post-nav .prev .arrow {
	direction: ltr;
}
.loops-wrapper.list-post .post {
	padding-left: 0;
	padding-right: 122px;
}
.loops-wrapper.list-post .post-meta {
	right: 0;
	text-align: left;
}
.loops-wrapper.list-post .post-icon {
	right: 0;
}
.post-icon {
	float: right;
	background-position: left 2px;
	margin: 2px 0 5px 12px;
}
#body .gallery .gallery-item {
	float: right;
}
#body .gallery-columns-1 .gallery-item, #body .gallery-columns-2 .gallery-item, #body .gallery-columns-3 .gallery-item, #body .gallery-columns-4 .gallery-item, #body .gallery-columns-5 .gallery-item, #body .gallery-columns-6 .gallery-item, #body .gallery-columns-7 .gallery-item, #body .gallery-columns-8 .gallery-item, #body .gallery-columns-9 .gallery-item {
	margin: 0 0 1.5% 1.5%;
}
.post-nav .prev {
	text-align: left;
}

.commentlist .avatar {
	float: right;
	margin: 0 0 0 15px;
}
.commentlist .reply {
	right: auto;
	left: 0;
}
.commentlist {
	padding-left: 0;
	padding-right: 122px;
}

@media (min-width: 601px) {
	.loops-wrapper.grid4 .post, .loops-wrapper.grid3 .post, .loops-wrapper.grid2 .post {
		float: right;
		margin-left: 0;
		margin-right: 2.5%;
	}
	.loops-wrapper.grid4 .post:nth-of-type(4n+1), .loops-wrapper.grid3 .post:nth-of-type(3n+1), .loops-wrapper.grid2 .post:nth-of-type(2n+1), .loops-wrapper.grid2-thumb .post:nth-of-type(2n+1) {
		margin-right: 0;
		clear: right;
	}
}
@media (min-width: 1150px) {
	.loops-wrapper.grid4 .post, .loops-wrapper.grid3 .post, .loops-wrapper.grid2 .post {
		margin-right: 3.2%;
	}
}